body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;

  background: url("./img/Fondo.jpeg") no-repeat center top;
  background-size: cover;
  background-color: black;

  /* 👇 sacamos el centrado forzado */
  display: block;
}

@media (min-width: 768px) {
  body {
    background-size: cover;
    background-position: center;
  }
}

/* 🖤 tarjeta */
.contenedor {
  
  position: relative;

  width: 100%;
  max-width: 420px;

  min-height: 100vh;
  margin: auto;

  border-radius: 25px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 25px;

  text-align: center;
  
  box-shadow: 0 0 30px rgba(255,255,255,0.2);
}

@media (max-width: 500px) {
  .contenedor {
    width: 92%;
    min-height: 85vh;
    padding: 25px;
  }

  @media (min-width: 768px) {
  .contenedor {
    width: 380px;
    height: 700px;

    border-radius: 25px;

    box-shadow: 0 0 40px rgba(255,255,255,0.15);
  }
}

/* ✨ títulos */
.tituloArriba {
  font-family: 'Great Vibes', cursive;
  font-size: 42px;
  color: white;
  
  text-shadow:
    1px 1px 0 black,
    2px 2px 0 black,
    3px 3px 6px rgba(0,0,0,0.8);

}

.tituloPrincipal {
  font-family: 'Great Vibes', cursive;
  font-size: 42px;
  margin: 0;
}

/* 👑 nombre */
#tituloInvitado {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  margin: 10px 0;
}

/* 📅 info */
.infoEvento {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
  margin: 20px 0;

  font-family: 'Libre Baskerville', serif;
  font-weight: 600;

  font-size: clamp(16px, 3vw, 20px);
  letter-spacing: 1px;
}

/* líneas verticales */
.infoEvento div {
  position: relative;
  padding: 0 10px;
}

.infoEvento div:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);

  width: 1px;
  height: 25px;

  background: rgba(255,255,255,0.5);
}

/*Boton Ubicacion*/
.ubicacion {
  margin: 15px 0;
  text-align: center;
}

.btnIcono {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 55px;
  height: 55px;

  border-radius: 50%;
  background: rgba(255,255,255,0.15);

  color: white;
  text-decoration: none;

  backdrop-filter: blur(6px);

  transition: 0.3s;
}

.btnIcono span {
  font-size: 28px;
}

/* ✨ efecto hover */
.btnIcono:hover {
  transform: scale(1.1);
  background: rgba(255,255,255,0.3);
  box-shadow: 0 0 15px white;
}

/* ✨ textos */
.subtitulo {
  color: #aaa;
  font-family: 'Libre Baskerville', serif;
}

.dress {
  
  color: #ccc;
  font-family: 'Libre Baskerville', serif;
}

.ubicacion {
  color: #bbb;
}

/* ✔ opciones */
.opciones label {
  text-align: center;
  display: block;
  margin: 8px 0;
}

p {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

h2{
 font-family: 'Great Vibes', cursive; 
}

/* invitados */
#listaInvitados {
  margin: 15px 0;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

/* 🔘 botón brillante */
button {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  border-radius: 30px;
  border: none;
  font-family: 'Libre Baskerville', serif;
  background: linear-gradient(135deg, #aaa, #fff, #aaa);
  color: black;
  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px white;
}


}